<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

	<bean id="userDAO" class="ca.liu.spring.dao.UserDAOImplTwo" />
	<bean id="logDAO" class="ca.liu.spring.dao.LogDAOImpl" />
	<!-- default scope is singlton -->
	<bean id="userSrv" class="ca.liu.spring.service.UserService" scope="prototype">
		<property name="userDAO" ref="userDAO" />
	</bean>
</beans>