<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
           http://www.springframework.org/schema/context
           http://www.springframework.org/schema/context/spring-context-3.0.xsd
           http://www.springframework.org/schema/tx 
       	   http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
           http://www.springframework.org/schema/aop
           http://www.springframework.org/schema/aop/spring-aop-3.0.xsd">

<!-- Annotation injection and not use with XML injection together -->
<!--
	<context:annotation-config/>
	<context:component-scan base-package="ca.liu.spring"/>
	<aop:aspectj-autoproxy/>
-->

	<bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations">
			<value>hibernate.properties</value>
		</property>
	</bean>
	
	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
		<property name="driverClassName" value="${hibernate.connection.driver_class}"/>
		<property name="url" value="${hibernate.connection.url}"/>
		<property name="username" value="${hibernate.connection.username}"/>
		<property name="password" value="${hibernate.connection.password}"/>
	</bean>
	
	<bean id="sessionFactory" class="org.springframework.orm.hibernate3.annotation.AnnotationSessionFactoryBean">
		<property name="dataSource" ref="dataSource"/>
		<property name="annotatedClasses">
			<list>
				<value>ca.liu.spring.entity.User</value>
				<value>ca.liu.spring.entity.Log</value>
			</list>
		</property>
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</prop>
			</props>				
		</property>
	</bean>
	
	<bean id="transactionManager" class="org.springframework.orm.hibernate3.HibernateTransactionManager">
    	<property name="sessionFactory" ref="sessionFactory"/>
 	</bean>
 	
 	<!-- enable the configuration of transactional behavior based on annotations -->
  	<tx:annotation-driven transaction-manager="transactionManager"/>
  	
  	<!-- daos -->
	<bean id="userDAOXML" class="ca.liu.spring.dao.UserDAOImplOne">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>
	
	<bean id="logDAOXML" class="ca.liu.spring.dao.LogDAOImpl">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>
	
	<!-- service class with transaction management -->
	<bean id="userSrvXML" class="ca.liu.spring.service.UserService">
		<property name="userDAO" ref="userDAOXML"/>
		<property name="logDAO" ref="logDAOXML"/>
	</bean>
 	
 	<!-- 
 	<tx:advice id="txAdvice" transaction-manager="transactionManager">
		<tx:attributes>
	      <tx:method name="list*" propagation="REQUIRED"/>
	    </tx:attributes>
 	</tx:advice>
 	
  	<aop:config>
    	<aop:pointcut id="listMethods" expression="execution(public * ca.cbc.daos.EntityHome.list*(..))"/>
    	<aop:advisor advice-ref="txAdvice" pointcut-ref="listMethods"/>
  	</aop:config>
	-->
</beans>